# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/
*.egg

# Virtual environments
.env
.venv
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# Editors/IDE
.vscode/
.idea/

# macOS
.DS_Store

# Local config overrides
*.local
